.missing-box {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.winner-container {
  position: relative;
  width: 20vw;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
}

.winner-container .svg-image {
  position: relative;
  left: unset !important;
  top: unset !important;
  margin: 10px auto;
  pointer-events: none;
  width: 20px;
}

.missing-container {
  width: 100vw;
  max-width: 700px;
  height: 170vw;
  max-height: 1190px;
  position: relative;
  background-image: url("../assets/soccer-field.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  .winner-container {
    width: 50vw;
  }
}
