.missing-box {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bottom-box {
  width: 100%;
  max-width: 700px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  margin: 10px auto;
}

.lives-container {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-container {
  position: relative;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
}

.winner-container .svg-image {
  position: relative;
  left: unset !important;
  top: unset !important;
  margin: 10px auto;
  pointer-events: none;
  width: 50px;
}

.missing-container {
  width: 100vw;
  max-width: 400px;
  height: 170vw;
  max-height: 680px;
  position: relative;
  background-image: url("../assets/soccer-field.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
