.winner-container {
  position: relative;
  width: 20vw;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
}

.missing-container {
  width: 100vw;
  height: 58.5vw;
  position: relative;
  background-image: url("../assets/soccer-field.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
