.svg-image {
  width: 15px;
  position: absolute;
  cursor: pointer;
}

.soccer-player .cls-1 {
  fill: #e6d0c1;
}
.soccer-player .cls-2 {
  fill: #eacbb7;
}
.soccer-player .cls-3 {
  fill: #417183;
}
.soccer-player .cls-4 {
  fill: #e9c741;
}
.soccer-player .cls-5 {
  fill: #f1f1f1;
}
.soccer-player .cls-6 {
  fill: #303030;
}
.soccer-player .cls-7 {
  fill: #7a6356;
}
.soccer-player .cls-8 {
  fill: #4c4c4c;
}

.student .cls-1 {
  fill: #e8dbce;
}
.student .cls-4 {
  fill: #736357;
}
.student .cls-5 {
  fill: #f0e5d4;
}
.student .cls-6 {
  fill: #333;
}
.student .cls-7 {
  fill: #f0f0f0;
}

.svg-image.mobile-man {
  width: 12px;
}

.svg-image.business-woman {
  width: 20px;
}

.business-woman .cls-6 {
  fill: #e2cfc5;
}

.business-woman .cls-2 {
  fill: #f2d6c9;
}
.business-woman .cls-4 {
  fill: #333;
}
.business-woman .cls-5 {
  fill: #fff;
}
.business-woman .cls-7 {
  fill: #f2f2f2;
}
.business-woman .cls-8 {
  fill: #441a19;
}

.walking-guy {
  width: 13px;
}

.walking-guy .cls-1 {
  fill: #262626;
}
.walking-guy .cls-2 {
  fill: #bfbfbf;
}
.walking-guy .cls-3 {
  fill: #fff;
}
.walking-guy .cls-5 {
  fill: #191919;
}
.walking-guy .cls-7 {
  fill: #f9e9de;
}
.walking-guy .cls-8 {
  fill: #537082;
}

.kenny {
  width: 40px;
}
.kenny .cls-1,
.kenny .cls-5 {
  fill: #fff;
}
.kenny .cls-1 {
  fill-rule: evenodd;
}
.kenny .cls-2 {
  fill: #f39a2e;
}
.kenny .cls-3 {
  fill: #ae6f1d;
}
.kenny .cls-4 {
  fill: #f7e0cf;
}
.kenny .cls-6 {
  fill: #231f20;
}
.kenny .cls-7 {
  fill: #b67420;
}
.kenny .cls-8 {
  fill: #905d46;
}

.cartman {
  width: 30px;
}

.cartman .cls-1 {
  fill: #92705e;
}
.cartman .cls-2 {
  fill: #f15649;
}
.cartman .cls-3 {
  fill: #fee2cc;
}
.cartman .cls-4 {
  fill: #231f20;
}
.cartman .cls-5 {
  fill: #e8d0bc;
}
.cartman .cls-6 {
  fill: #e0c8b6;
}
.cartman .cls-7 {
  fill: #b1e3fa;
}
.cartman .cls-8 {
  fill: #fff218;
}
.cartman .cls-9 {
  fill: #fff;
}

.stan {
  width: 25px;
}
.stan .cls-1 {
  fill: #00557a;
}
.stan .cls-2 {
  fill: #9d857e;
}
.stan .cls-3 {
  fill: #ec5c2f;
}
.stan .cls-4 {
  fill: #f7e0cf;
}
.stan .cls-5 {
  fill: #fff;
}
.stan .cls-6 {
  fill: #231f20;
}
.stan .cls-7 {
  fill: #0081b5;
}
.stan .cls-8 {
  fill: #60524d;
}

.kyle {
  width: 30px;
}

.kyle .cls-1 {
  fill: #5e697e;
}
.kyle .cls-2 {
  fill: #f5ae28;
}
.kyle .cls-3 {
  fill: #d29622;
}
.kyle .cls-4 {
  fill: #0088c8;
}
.kyle .cls-5 {
  fill: #f7e0cf;
}
.kyle .cls-6 {
  fill: #fff;
}
.kyle .cls-7 {
  fill: #231f20;
}
.kyle .cls-8 {
  fill: #48b749;
}
.kyle .cls-9 {
  fill: #2e8735;
}
